

<div class="container">
  <div class="col-md-12">
    <p>
      <a class="btn btn-primary" href="http://dev.medalha.com:3000/atividade_usuarios/new">Cadastrar atividade</a>
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Usuarios</th>
          <th>Atividade</th>
          <th>Quantidade
          </th>
        </tr>
      </thead>
      <tbody>
        <% @atividades_usuario.each do |atividade_usuario| %>
        <tr>
          <td><%= atividade_usuario.usuario.name %></td>
          <td><%= atividade_usuario.atividade.nome %></td>
          <td><%= AtividadeUsuario.group(:atividade_id, :usuario_id).where(usuario_id: atividade_usuario.usuario_id,
          atividade_id: atividade_usuario.atividade_id).count %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
